$baseFontSize: 14px;

/* Colors */
$wetAsphalt: #363636;
$darkGrey: #8a8a8a;
$middleGrey: #636363;
$lightGrey: #f7f7f7;
$tomato: #e5493a;
$orange: #f7941d;
$blue: #00bff3;
$black: #1e1e1e;
$green: #8dc63f;